USE [master]
GO
/****** Object:  Database [QL_GVHS]    Script Date: 4/20/2018 4:43:29 PM ******/
CREATE DATABASE [QL_GVHS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_GVHS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QL_GVHS.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_GVHS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QL_GVHS_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_GVHS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_GVHS]
GO
/****** Object:  StoredProcedure [dbo].[KiemTraDN]    Script Date: 4/20/2018 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[KiemTraDN](@Username VARCHAR(50),@Pass varchar(50)) AS 
 BEGIN
	SELECT * FROM dbo.Login WHERE Username = @Username AND Pass = @Pass
 END
 
GO
/****** Object:  StoredProcedure [dbo].[SuaGV]    Script Date: 4/20/2018 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SuaGV] (@MAGV char(10),@TENGV  nvarchar(40),@THONGTIN nvarchar(100),@CNLOP  varchar(10),@GDAY  VARCHAR(10)) AS
BEGIN
	UPDATE dbo.GIAO_VIEN SET 
	TENGV = @TENGV,THONGTIN = @THONGTIN,CNLOP = @CNLOP,GDAY =@GDAY WHERE MAGV = @MAGV
END
GO
/****** Object:  StoredProcedure [dbo].[SuaLH]    Script Date: 4/20/2018 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SuaLH] (@MALOP VARCHAR(10),@TENLOP VARCHAR(15)) AS
BEGIN
	UPDATE dbo.LOP SET 
	TENLOP = @TENLOP WHERE MALOP = @MALOP
END

GO
/****** Object:  StoredProcedure [dbo].[SuaMH]    Script Date: 4/20/2018 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SuaMH] (@MAMON char(10),@TENMON nvarchar(40),@GHICHU nvarchar(100)) AS
BEGIN
	UPDATE dbo.MONHOC SET 
	TENMON = @TENMON,GHICHU = @GHICHU WHERE MAMON = @MAMON
END

GO
/****** Object:  StoredProcedure [dbo].[ThemGV]    Script Date: 4/20/2018 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemGV](@MAGV char(10),@TENGV  nvarchar(40),@THONGTIN nvarchar(100),@CNLOP  varchar(10),@GDAY  VARCHAR(10)) AS
BEGIN
	INSERT INTO dbo.GIAO_VIEN
        ( MAGV, TENGV, THONGTIN, CNLOP, GDAY)
VALUES  ( @MAGV,@TENGV,@THONGTIN,@CNLOP,@GDAY)
END
GO
/****** Object:  StoredProcedure [dbo].[ThemLH]    Script Date: 4/20/2018 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemLH](@MALOP VARCHAR(10),@TENLOP VARCHAR(15)) AS
BEGIN
	 INSERT INTO dbo.LOP
	         ( MALOP, TENLOP )
	 VALUES  (@MALOP,@TENLOP ) 
END

GO
/****** Object:  StoredProcedure [dbo].[ThemMH]    Script Date: 4/20/2018 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemMH](@MAMON char(10),@TENMON nvarchar(40),@GHICHU nvarchar(100)) AS
BEGIN
	 INSERT INTO dbo.MONHOC
         ( MAMON, TENMON, GHICHU )
	VALUES  ( @MAMON,@TENMON,@GHICHU)
END

GO
/****** Object:  StoredProcedure [dbo].[ThemTK]    Script Date: 4/20/2018 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemTK](@Username VARCHAR(50),@Pass varchar(50)) AS 
 BEGIN
	INSERT INTO dbo.Login
	        ( Username, Pass )
	VALUES  ( @Username,@Pass )
 END
GO
/****** Object:  StoredProcedure [dbo].[XoaGV]    Script Date: 4/20/2018 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[XoaGV](@MAGV char(10)) AS
 BEGIN
		DELETE FROM dbo.GIAO_VIEN WHERE MAGV = @MAGV
 end
GO
/****** Object:  StoredProcedure [dbo].[XoaMH]    Script Date: 4/20/2018 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[XoaMH](@MAMON char(10)) AS
 BEGIN
		 
		DELETE FROM dbo.MONHOC WHERE MAMON = @MAMON
 END
GO
/********* StoredProcedure : tìm kiếm học sinh theo điều kiện  **************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TimkiemHS]
	(@MAHS char(10) = NULL,
	@TENHS nvarchar(40) = NULL,
	@GIOITINH char(3) = NULL,
	@NGAYSINH date = NULL,
	@DIACHI nvarchar(100) = NULL,
	@SODIENTHOAI int = NULL,
	@HOTENBO nvarchar(40) = NULL,
	@HOTENME nvarchar(40) = NULL,
	@LOPHOC varchar(10) = NULL) AS
BEGIN
	SELECT MAHS, TENHS, GIOITINH, DIACHI, SODIENTHOAI, HOTENBO, HOTENME, LOPHOC
	FROM dbo.HOSOHOCSINH
	WHERE (@MAHS IS NULL OR MAHS=@MAHS)
		  AND (@TENHS IS NULL OR TENHS LIKE '%'+@TENHS+'%')
		  AND (@GIOITINH IS NULL OR GIOITINH=@GIOITINH)
		  AND (@DIACHI IS NULL OR DIACHI LIKE '%'+@DIACHI+'%')
		  AND (@SODIENTHOAI IS NULL OR SODIENTHOAI=@SODIENTHOAI)
		  AND (@HOTENBO IS NULL OR HOTENBO LIKE '%'+@HOTENBO+'%')
		  AND (@HOTENME IS NULL OR HOTENME LIKE '%'+@HOTENME+'%')
		  AND (@LOPHOC IS NULL OR LOPHOC LIKE '%'+@LOPHOC+'%')
END
GO
/*************  StoredProcedure : tìm kiếm giáo viên + giảng dạy theo điều kiện ****************/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TimkiemGV]
	(@MAGV char(10) = NULL,
	@TENGV nvarchar(40) = NULL,
	@THONGTIN nvarchar(100) = NULL,
	@CNLOP varchar(10) = NULL,
	@GDAY varchar(10) = NULL)
AS
BEGIN
	SELECT MAGV, TENGV,THONGTIN, CNLOP, GDAY
	FROM dbo.GIAO_VIEN
	WHERE (@MAGV IS NULL OR MAGV=@MAGV)
		  AND (@TENGV IS NULL OR TENGV LIKE '%'+@TENGV+'%')
		  AND (@THONGTIN IS NULL OR THONGTIN LIKE '%'+@THONGTIN+'%')
		  AND (@CNLOP IS NULL OR CNLOP LIKE '%'+@CNLOP+'%')
		  AND (@GDAY IS NULL OR CNLOP LIKE '%'+@GDAY+'%')
END
GO

/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 4/20/2018 4:43:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[MAHS] [char](10) NOT NULL,
	[MAMON] [char](10) NOT NULL,
	[HOCKY] [char](10) NULL,
	[DIEMMIENG] [float] NULL,
	[DIEM15P] [float] NULL,
	[DIEM1TIET] [float] NULL,
	[DIEMHOCKY] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC,
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAO_VIEN]    Script Date: 4/20/2018 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAO_VIEN](
	[MAGV] [char](10) NOT NULL,
	[TENGV] [nvarchar](40) NULL,
	[THONGTIN] [nvarchar](100) NULL,
	[CNLOP] [varchar](10) NULL,
	[GDAY] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOSOHOCSINH]    Script Date: 4/20/2018 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOSOHOCSINH](
	[MAHS] [char](10) NOT NULL,
	[TENHS] [nvarchar](40) NULL,
	[GIOITINH] [char](3) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SODIENTHOAI] [int] NULL,
	[HOTENBO] [nvarchar](40) NULL,
	[HOTENME] [nvarchar](40) NULL,
	[LOPHOC] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Login]    Script Date: 4/20/2018 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Login](
	[Username] [varchar](50) NOT NULL,
	[Pass] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 4/20/2018 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](10) NOT NULL,
	[TENLOP] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 4/20/2018 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMON] [char](10) NOT NULL,
	[TENMON] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[GVCGD]    Script Date: 4/20/2018 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[GVCGD] AS
 SELECT * FROM dbo.LOP, dbo.GIAO_VIEN WHERE MALOP = GDAY AND MALOP != CNLOP
GO
/****** Object:  View [dbo].[GVCN]    Script Date: 4/20/2018 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE VIEW [dbo].[GVCN] AS 
  SELECT * FROM dbo.LOP, dbo.GIAO_VIEN WHERE MALOP = CNLOP AND MALOP != GDAY
GO
/****** Object:  View [dbo].[GVCNLP]    Script Date: 4/20/2018 4:43:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE VIEW [dbo].[GVCNLP] AS
 SELECT * FROM dbo.LOP, dbo.GIAO_VIEN WHERE MALOP = CNLOP AND MALOP = GDAY
GO
INSERT [dbo].[GIAO_VIEN] ([MAGV], [TENGV], [THONGTIN], [CNLOP], [GDAY]) VALUES (N'GV01', N'Phan Cẩm Sơn', N'Vật Lại', N'', N'03')
INSERT [dbo].[GIAO_VIEN] ([MAGV], [TENGV], [THONGTIN], [CNLOP], [GDAY]) VALUES (N'GV02', N'Chu Văn Thịnh', N'Ba Vì', N'07', N'07')
INSERT [dbo].[GIAO_VIEN] ([MAGV], [TENGV], [THONGTIN], [CNLOP], [GDAY]) VALUES (N'GV03', N'Lê Mạnh Hùng', N'Hà Nam', N'05', N'06')
INSERT [dbo].[HOSOHOCSINH] ([MAHS], [TENHS], [GIOITINH], [NGAYSINH], [DIACHI], [SODIENTHOAI], [HOTENBO], [HOTENME], [LOPHOC]) VALUES (N'HS001', N'Tạ Hữu Kiên', N'Nam', CAST(N'2000-03-06' AS Date), N'Hoàng Quốc Việt - Cầu Giấy - Hà Nội', 905111123, N'Nguyễn Đức Tuyến', N'Đinh Thị Tâm', N'01')
INSERT [dbo].[HOSOHOCSINH] ([MAHS], [TENHS], [GIOITINH], [NGAYSINH], [DIACHI], [SODIENTHOAI], [HOTENBO], [HOTENME], [LOPHOC]) VALUES (N'HS002', N'Chử Thị Bích Ngọc', N'Nữ', CAST(N'2000-09-08' AS Date), N'Hoàng Quốc Việt - Cầu Giấy - Hà Nội', 905111124, N'Nguyễn Anh Sơn', N'Trần Thụ Ngọc', N'04')
INSERT [dbo].[HOSOHOCSINH] ([MAHS], [TENHS], [GIOITINH], [NGAYSINH], [DIACHI], [SODIENTHOAI], [HOTENBO], [HOTENME], [LOPHOC]) VALUES (N'HS003', N'Phạm Thị Thu Phương', N'Nam', CAST(N'2000-11-08' AS Date), N'Hoàng Quốc Việt - Cầu Giấy - Hà Nội', 905111125, N'Đặng Minh Được', N'Vũ Như Quỳnh', N'05')
INSERT [dbo].[Login] ([Username], [Pass]) VALUES (N'', N'')
INSERT [dbo].[Login] ([Username], [Pass]) VALUES (N'Admin', N'1')
INSERT [dbo].[LOP] ([MALOP], [TENLOP]) VALUES (N'01', N'A1')
INSERT [dbo].[LOP] ([MALOP], [TENLOP]) VALUES (N'02', N'A2')
INSERT [dbo].[LOP] ([MALOP], [TENLOP]) VALUES (N'03', N'A3')
INSERT [dbo].[MONHOC] ([MAMON], [TENMON], [GHICHU]) VALUES (N'TTNT', N'Trí Tuệ Nhân Tạo', N'Môn học bắt buộc')
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOSOHOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD FOREIGN KEY([MAMON])
REFERENCES [dbo].[MONHOC] ([MAMON])
GO
ALTER TABLE [dbo].[GIAO_VIEN]  WITH CHECK ADD FOREIGN KEY([GDAY])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[HOSOHOCSINH]  WITH CHECK ADD FOREIGN KEY([LOPHOC])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[HOSOHOCSINH]  WITH CHECK ADD CHECK  (([GIOITINH]='NU' OR [GIOITINH]='NAM'))
GO
USE [master]
GO